* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

/* Header styles */

.header {
    display: flex;
    justify-content: center;
    width: 1530px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);

}

.header-title {
    color: #272727;
    font-size: 65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    margin-top: 190px;
    margin-left: 50px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
}

.header-img {
    margin-top: 50px;
    max-width: 100%;
    height: auto;
    padding-left: 90px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFFFFF;
    margin-left: 50px;
}

/* main styles */

.our-section {
    text-align: center;
}

.title-our {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    margin-top: 170px;
}

.description-our {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    /* font-weight: 400; */
    /* line-height: 30px; */
    margin-top: 25px;
}

.flower-img {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.img-6 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 110px;
    padding-left: 76px;
    padding-right: 76px;
    margin-right: 24px;
}

.img-5 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    margin-right: 24px;
    padding-top: 115px;
    padding-left: 35px;
    padding-right: 0px;
}

.img-7 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 585px;
    flex-shrink: 0;
    padding-top: 67px;
}

.flower-description {
    text-decoration: underline;
    color: #272727;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;

}

/* icon style */

.img-icon {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 110px;
    padding-top: 60px;
    padding-bottom: 100px;
}

.icon {
    display: flex;
    justify-content: space-around;
    padding-top: 86px;

}

.icon-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
    display: flex;
    justify-content: space-around;
}

/* hot styles */

.hot-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    width: 1530px;
}

.hot-deal {}

.hot-title {
    color: #272727;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    padding-top: 150px;
    padding-bottom: 20px;
    margin-top: 130px;
}

.hot-img {
    padding-top: 100px;
    padding-bottom: 100px;
    /* position: static; */
}

/* instagram style */

.ins-title {
    color: #272727;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 120px;
}

.ins-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.flower-rectangle {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

}

/* banner style */

.banner-container {
    background-image: url('../images/Rectangle\ 9.png');
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    border-radius: 8px;
    background-repeat: no-repeat;
    justify-content: space-around;
    margin: 0px 0px 50px 50px;
}

.banner-title {
    color: #272727;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    padding-top: 120px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}

.msg-bar {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    margin-top: 40px;
}

#email {
    padding: 22px 500px 22px 22px;
    margin-left: 30px;
}

/* footer style */

.footer-container {
    background: #111010;
    width: 1600px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 128px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 14px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
}